.homepage{
  background-image: url('../public/assets/5.jpg');
  height: 100vh;
  width: 100%;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #fee004
}

.lockscreen{
  display: flex;
  margin-top: 65px;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh
}

.visibility{
  display: none;
}

.lockscreen .time{
  color: white;
  font-size: 80px;
  font-weight: 300;
}

.lockscreen .date{
  color: white;
  font-size: 80px;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.01em;
  position: absolute;
  top: 12%;
}

.lockscreen .unlock{
  height: 20px;
  font-size: 20px;
  opacity: 0.5;
  font-weight: 300;
  color: white;
  position: absolute;
  bottom: 19%;
}

@media (min-width: 768px) {
  .lockscreen{
    margin-top: 5% ;
  }
}